*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#root {
  margin: 0 auto;
  width: 80vw;
  min-height: 100vh;
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15rem 1fr;
  gap: 3rem;

  --dark-color: #143461;
  --middle-color: #05c9c0;
  --light-color: #1bf5d2;
  --extra-light-color: #7cfae6;
}

@media screen and (max-width: 818px) {
  html {
    font-size: 50% !important;
  }
}

@media screen and (max-width: 650px) {
  #root {
    width: 90vw;
  }
}

@media screen and (max-width: 416px) {
  #root {
    width: 95vw;
  }
}

@media screen and (max-width: 388px) {
  html {
    font-size: 37.5% !important;
  }
}

@media screen and (min-width: 1605px) {
  #root {
    width: 75vw;
  }
}

@media screen and (min-width: 1540px) {
  html {
    font-size: 75% !important;
  }
}
